@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-archivo: 'Archivo Black', sans-serif;
    --font-inter: 'Inter', sans-serif;
  }
  
  * {
    @apply border-outline-variant;
  }
  
  body {
    @apply bg-surface text-surface-on-surface font-inter antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-archivo;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .bg-gradient-radial {
    background-image: radial-gradient(circle, var(--tw-gradient-stops));
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
